@model Services.businessLogic.Service

@{
    ViewBag.Title = "Home Page";
}
    <div>
        <h4>Service</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ServiceName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServiceName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NetPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NetPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Vat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Vat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VatAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VatAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PretaxPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PretaxPrice)
            </dd>
    
        
         
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
