


@{
    ViewBag.Title = "AllServices";
}

@model IEnumerable < Services.businessLogic.Service >
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PretaxPrice)
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretaxPrice)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
