@model Services.Models.InvoiceModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @using (Html.BeginForm()) { 


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Invoice</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
    <div class="container">
        <body>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <h1 contenteditable>INVOICE</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 text-right" contenteditable>
                                <strong>Invoice number</strong>
                                <span>18372918</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-right" contenteditable>
                                <strong>Invoice date</strong>
                                <span>2016-01-01</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5">
                                <h4><p contenteditable id="label-contractor">SELLER</p></h4>
                            </div>
                            <div class="col-xs-3">
                                <h4><p contenteditable id="label-contractee">CUSTOMER</p></h4>
                            </div>
                            <div class="col-xs-4 text-right">
                                <strong contenteditable>Due date</strong>
                                <span contenteditable>2016-01-01</span>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <!-- Address -->
                <div class="row">
                    <div class="col-xs-5" id="label-mycompany">
                        <address contenteditable>
                            <strong>@Html.DisplayFor(Model => Model.SellerName) @Html.DisplayFor(Model => Model.SellerSurname).</strong><br>
                            <strong>Company:    @Html.DisplayFor(Model => Model.SellerCompanyName) <br> </strong>
                                    Adress:     @Html.DisplayFor(Model => Model.SellerCity) <br>
                                                @Html.DisplayFor(Model => Model.SellerStreet),
                                                @Html.DisplayFor(Model => Model.SellerCode) <br />
                                    Phone:      @Html.DisplayFor(Model => Model.SellerPhoneNumber) <br>
                                    NIP:        @Html.DisplayFor(Model => Model.SellerNIP) <br>
                        </address>
                    </div>
                    <div class="col-xs-5">
                        <address contenteditable id="label-yourcompany">
                            <strong>@Html.DisplayFor(Model => Model.Name) @Html.DisplayFor(Model => Model.Surname).</strong><br>
                            <strong>Company:    @Html.DisplayFor(Model => Model.CompanyName) <br></strong>
                                    Addres:     @Html.DisplayFor(Model => Model.City)<br />
                                                @Html.DisplayFor(Model => Model.Street),
                                                @Html.DisplayFor(Model => Model.Code)    <br>
                                    Phone:      @Html.DisplayFor(Model => Model.PhoneNumber) <br>
                                    NIP:        @Html.DisplayFor(Model => Model.NIP) <br>
                        </address>
                        <p>
                        </p>
                    </div>
                </div>

             
                <!-- / end client details section -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <h4>Service</h4>
                            </th>
                            <th>
                                <h4>UnitPrice</h4>
                            </th>
                            <th>
                                <h4>NetPrice</h4>
                            </th>
                            <th>
                                <h4>Vat</h4>
                            </th>
                            <th>
                                <h4>VatAmount</h4>
                            </th>
                            <th>
                                <h4>PretaxPrice</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Article</td>
                            <td><a href="#">Title of your article here</a></td>
                            <td class="text-right">-</td>
                            <td class="text-right">$200.00</td>
                            <td class="text-right">$200.00</td>
                        </tr>
                        <tr>
                            <td>Template Design</td>
                            <td><a href="#">Details of project here</a></td>
                            <td class="text-right">10</td>
                            <td class="text-right">75.00</td>
                            <td class="text-right">$750.00</td>
                        </tr>
                        <tr>
                            <td>Development</td>
                            <td><a href="#">WordPress Blogging theme</a></td>
                            <td class="text-right">5</td>
                            <td class="text-right">50.00</td>
                            <td class="text-right">$250.00</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">

                    <div class="col-xs-7">
                        <div class="span7">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4>Contact Details</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>}